@media only screen and (max-width: 600px) {

  /* For mobile phones: */
  body {
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
    display: block;
  }

  /* .section-1,
  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .section-6,
  .section-7 {
    padding: 0% 0%;
    position: relative;
  } */

  .sec-1 {
    height: 105vh;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  /* .bg {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  } */

  .sec-1 .navbar {
    flex-direction: column;
  }

  .section-1 span {
    position: absolute;
    font-size: 1.5rem;
    left: 1.5rem;
    color: #aeff00;

  }

  .sec-1 .navigation-menu{
    padding-top: 6rem;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    top: 0;
    right: -70%;
    z-index: 10;
    width: 70%;
    background-color: rgb(114, 236, 0);    display: flex;
    transition: right 0.6s ease;
    z-index: 20;
    opacity: 0;
    transition: right 0.6s ease, opacity 0.4s ease-in;

  }
  .sec-1 .navigation-menu::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100vw;
    width: 1vw;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.849);
    z-index: 9;
    opacity: 0;
    transition: opacity 0.2s ease-in, width 0.4s ease;
  }
  .sec-1 .navigation-menu.show::before
  {
    opacity: 1;
    width: 100vw;
    transition: opacity 0.3s ease-in;
  }
  #open,
  #close {
    
    opacity: 1;
    transition: opacity 0.6s ease;

  }

  #close {
    display: none;
  }

  .sec-1 .navigation-menu{
    justify-content: space-evenly;
    padding: 10rem 0;
  }

  .sec-1 .navigation-menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-weight: 600;
    position: relative;
    transition: none;
   width: 100%;
   text-align: center;
   transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  }
  
  .sec-1 .navigation-menu a:hover{
    border-left: solid 0.7rem rgb(27, 27, 27);
    background-color: rgba(255, 255, 255, 0.842);
    color: #1f1f1f;
    transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .sec-1 .navigation-menu a::first-letter{
    font-weight: 600;
    color: #ffffff;
    font-size: 2.1rem;

  
  }
  .sec-1 .navigation-menu a:hover::first-letter{
    color: #1f1f1f;
  
  }
  
  .sec-1 .navigation-menu a.active::before{
    content: none;

  }

  .sec-1 .navigation-menu a.active{
    background-color: rgba(255, 255, 255, 0.842);
    box-shadow: inset 1px 1px 10px #1f1f1f80;
    border-left: solid 0.7rem rgb(27, 27, 27);
    color: #1f1f1f !important;
  }
  .sec-1 .navigation-menu a.active::first-letter{
    color: #1f1f1f !important;
  }


  header div {
   padding: 0.5rem 0.5rem;
   width: 90vw;

  }

  .sec-1 header h1 {
    font-size: 6rem;
    line-height: auto;
    padding: 1rem 0;
    letter-spacing: auto;
    font-weight: 600;
  }

  .sec-1 header p {
    font-size: 2rem;
    padding-left: 0.5rem;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    width: 100%;

  }

  .sec-1 header button {
    margin-top: 2rem;
  }

 


  .section-2 {
    height: auto;
    flex-direction: column;
    padding-bottom: 0rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  .section-2 .my-services {
    width: 90vw;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 30;

  }

  .section-2 .service-card {
    margin-top: 5rem;
  }

  .section-2 .service-card .row_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-2 .service-card .row_ .card {
    padding: 1.5rem 2rem;
    margin: 1.5rem;
    height: auto;
    box-shadow: 2px 2px 35px #7575751c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: none !important;
  }

  .section-2 .service-card .row_ p {
    width: auto;
    text-align: left;
  }

  .section-3 {
    padding: 30rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(#7a39dba5, #6048ff95),url("https://images.unsplash.com/photo-1543965170-d57f3f5ecf20?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2008&q=80");
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }

  .mystory img {
    width: 80%;
  }


  .section-4 {
    height: auto;
    background-color: #fff;
    /* clip-path: polygon(0 5%, 100% 1%, 100% 100%, 0% 100%); */
    padding: 1rem 1rem;
    margin-top: 0rem;
  }

  .section-4 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    color: #4a4a4a;
  }

  .section-4 .content p {
    width: 90vw;
    text-align: center;

  }

  .section-4 .skills {
    margin-top: 1rem;

    flex-wrap: wrap;

  }

  .skills .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
  }

  .skills h6 {
    font-size: 2rem;

  }

  .section-5 {
    height: max-content;
    padding: 10rem 2rem;

    justify-content: flex-start;
  }
  .section-5::before {
    height: 15%;
  }
  .section-5::after {
    bottom: -4rem;
    height: 15%;
   
  }
  .section-5 .content {
    margin-top: 0.5rem;
 
  }
  .section-5 .content p {
    width: 90vw;
    margin: 1.5rem;
  }


 
   .section-5 .nav-gallery .active::before {
    content: none;
   
  }

  .idropbtn {
    display:inline-block;
    /* position: absolute; */
    font-size: 3rem;
    /* left: -5rem; */
    top: 0;
    background-color: #aeff00;
    color: rgb(39, 39, 39);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #000;
  }
  
  .idropdown {
    position: absolute;
    top: -5rem;
    left: 3rem;
    display: inline-block;
  }
  
  .idropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 2rem;
  }
  
  .idropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 2rem;
    width: 100%;
  }
  
  .idropdown-content button:hover {background-color: #ddd;
  border-left: solid 3px #000;
  }
 
  .idropdown:hover .idropdown-content {display: block;}
  
  .idropdown:hover .idropbtn {background-color: #00ff08;}
/* --------------------------------------------- */

/* ----------- */
/* ------------------------------------ */


#img-container{
  margin-top: 10rem;
}
  #img-container .cl{
    width: max-content;
    flex-direction: row !important;
    
    
  }
  .cl img:first-of-type
{
  flex-grow: 0;
} 
  #scroll{
    
    height: 300px;
    width: 300px;
    overflow: hidden;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.774);
    border-radius: 5px;
    padding: 0 0;

  }
#img-row{
  display: inline-flex;
   flex-wrap: nowrap;
   justify-content: flex-start;
   padding: 0 0;
 
   /* background-color: crimson; */
  }
  #img-container img{
    display: inline-block;
    margin: 0;
    box-shadow: none;
    border-radius: 0px;
    width: 300px;
    height: 300px;
    flex-basis: 300px;
 
  }
 
  
  
#left-arrow,#right-arrow{
  font-size: 1.5rem;
  position: absolute;
  color: rgb(0, 0, 0);
  opacity: 1;
  bottom: 3%;
  display: inline-block;
  cursor: pointer;
  z-index: 40;
  padding: 10px 15px;
  background-color: #73ff00;
  box-shadow: -2px 0px 5px #66ff00b7,2px 0px 5px #66ff00b7,0px 2px 5px #66ff00b7;
  border-radius: 50%;
  transition: all;
}

#left-arrow{
  left: 30%;
  transform: rotate(180deg);
  
}
#right-arrow{
  right: 30%;
}
#right-arrow:active{
  transform: translate(2px,-2px);
  box-shadow: -2px 0px 15px #66ff00b7,2px 0px 15px #66ff00b7,0px 2px 15px #66ff00b7;
  color: #fff;
  transition: all;
}
#left-arrow:active{
  transform: translate(2px,-2px) rotate(180deg);
  box-shadow: -2px 0px 15px #66ff00b7,2px 0px 15px #66ff00b7,0px 2px 15px #66ff00b7;
  color: #fff;
  transition: all;
}

  /* ------------------------------------ */



  #feedback {
    padding: 1rem 2rem;
    /* clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%); */
    margin-top: 10rem;
    text-align: center;
  }

  #feedback .title p {
    width: 90vw;
  }

  #feedback .carousel {
    padding: 2% 0%;
    justify-content: center;
  }

  .carousel-inner .container .card-items {
    width: 80vw;
    padding: 1.5rem 1.5rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 2rem rgba(172, 172, 172, 0.164);
    margin-left: 0;
  }
  .section-7 {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    padding: 0 2rem;
  }

  .section-7 h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  section-8 {
    padding: 2rem 0;

  }

  .section-8 .row_ {
    flex-direction: column;
  }

  .section-8 .row_ .row1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .section-8 .row_ .col_ {
    margin-top: 2rem;
  }


  .contact {
    padding: 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .contact-info {
    margin: 1.5rem;
    width: 40vw;
    justify-content: flex-start;
  }

  .contact-info h6 {
    width: 15vw;
  }
}