@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  body {
    overflow-x: hidden;
  }

  img {
    max-width: 100%;
    display: block;
  }

  .section-1,
  .section-2,
  .section-3,
  .section-4,
  .section-5,
  .section-6,
  .section-7 {
    padding: 2% 1%;
    position: relative;
  }

  .bg {
    height: 90vh;
    background-position: center;

  }

  .bg {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  }

  .section-1 .navbar {
    flex-direction: column;


  }

  .section-1 span {
    position: absolute;
    font-size: 1.5rem;
    left: 1.5rem;
    color: #aeff00;

  }

  .section-1 .navigation-menu ul {
    padding-top: 6rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 110%;
    height: 100vh;
    top: -102vh;
    z-index: 10;
    background: rgb(0, 255, 145);
    background: linear-gradient(213deg, rgba(0, 255, 145, 1) 0%, rgba(189, 255, 0, 0.9612978980654762) 100%);
    display: none;
    transition: top 0.6s ease;

  }

  #open,
  #close {
    opacity: 1;
  }

  #close {
    display: none;
  }











  .section-1 .navigation-menu a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 0.5rem 3rem;
    margin: 0.5rem 0;
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;

  }

  .section-1 .navigation-menu .active::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 50%;
    left: -50%;
    transform: translateX(50%);
    background-color: rgba(53, 53, 53, 0);
    border-bottom: #4e4e4ea9 solid 0.3rem;
  }

  header div {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 90vw;

  }

  .section-1 header h1 {
    font-size: 6rem;
    line-height: 6rem;
    padding: 1rem 0;
    letter-spacing: 0.5rem;
    font-weight: 600;
  }

  .section-1 header p {
    font-size: 2rem;
    padding-left: 0.5rem;
    color: rgb(255, 255, 255);
    opacity: 0.8;

  }

  .section-1 header button {
    margin-top: 2rem;
  }

  .section-1 .contact-me-btn a {
    margin-left: 0;
    color: black;
    padding: 1rem 2rem;
  }


  .section-2 {
    height: auto;
    margin-top: 0rem;
    flex-direction: column;
    /* clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%); */
  }

  .section-2 .my-services {
    width: 90vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .section-2 .service-card {
    margin-top: 5rem;
  }

  .section-2 .service-card .row_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-2 .service-card .row_ .card {
    padding: 1.5rem 2rem;
    margin: 1.5rem;
    height: auto;
    box-shadow: 2px 2px 35px #7575751c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: none !important;
  }

  .section-2 .service-card .row_ p {
    width: auto;
    text-align: left;
  }

  .section-3 {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 10%, 100% 1%, 100% 100%, 0% 100%);

  }

  .mystory img {
    width: 80%;
  }


  .section-4 {
    height: auto;
    background-color: #fff;
    clip-path: polygon(0 5%, 100% 1%, 100% 100%, 0% 100%);
    padding: 10rem;
    margin-top: -10rem;
  }

  .section-4 .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    color: #4a4a4a;
  }

  .section-4 .content p {
    width: 90vw;
    text-align: center;

  }

  .section-4 .skills {
    margin-top: 1rem;

    flex-wrap: wrap;

  }

  .skills .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
  }

  .skills h6 {
    font-size: 2rem;

  }

  .section-5 {
    height: max-content;
    padding: 15rem 5rem 20rem;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    justify-content: flex-start;
  }
  .section-5 .content {
    margin-top: 0.5rem;
 
  }
  .section-5 .content p {
    width: 90vw;
    margin: 1.5rem;
  }
  .section-5 .gallery {
   position: relative;
  }

  .gallery .nav-gallery{
    position: absolute;
    top: 0;
    flex-direction: row;
    align-items: flex-start !important;
    justify-content: center !important;
    
  }
 

  .section-5 .gallery .nav-gallery .gal-btn{
    display: inline;
    background-color: #a0d334;
    height: max-content;
    box-shadow: 3px 3px 5px #1f1f1f34;
  }
  .section-5 .gallery .nav-gallery .gal-btn .fas{
    color: #ffffff;
    font-size: 2rem;
    padding: 1rem 1rem;
    z-index: 12;
    cursor: pointer;
    transform: rotate(-90deg);
    transition: transform 0.4s ease;
   }
   .section-5 .gallery .nav-gallery .gal-btn .fas.rotate{
     transform: rotate(-180deg);
     transition: transform 0.4s ease;
   }
   .section-5 .gallery .nav-gallery .content{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0;
    height: 4rem;
    overflow: hidden;
    box-shadow: inset 2px 2px 5px#a1d334b6;
    align-items: flex-start;
    justify-content: flex-start;
 
  }
  .section-5 .gallery .nav-gallery .content.show{
    height: 100%;
    overflow: visible;
  }
   .section-5 .gallery .nav-gallery .active::before {
    content: none;
  }
   .nav-gallery .content a{
     padding: 0.5rem 0.5rem;
   }
   .nav-gallery .content a:hover{
    color: #a0d334;

  }
  
.section-5 .images{
  flex-direction: column;
}










  
  #feedback {
    padding: 10rem 2rem;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    margin-top: -15rem;
  }

  #feedback .title p {
    width: 90vw;
  }

  #feedback .carousel {
    padding: 2% 0%;
    justify-content: center;
  }

  .carousel-inner .container .card-items {
    width: 30rem;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0.2rem 0.2rem 2rem rgba(172, 172, 172, 0.164);
    margin: 2rem;
  }
  .section-7 {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    padding: 0 2rem;
  }

  .section-7 h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  section-8 {
    padding: 2rem 0;

  }

  .section-8 .row_ {
    flex-direction: column;
  }

  .section-8 .row_ .row1 {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }

  .section-8 .row_ .col_ {
    margin-top: 2rem;
  }


  .contact {
    padding: 0 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .contact-info {
    margin: 1.5rem;
    width: 40vw;
    justify-content: flex-start;
  }

  .contact-info h6 {
    width: 15vw;
  }
}