* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* transition: all ease-in 0.2s; */
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

p,
a,
button {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 4rem;
}

/* body {
  position: relative;
} */


/* -------------------------------------------------------- */

.sec-1 {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(#7a39db8b, #6048ff84),url("https://images.unsplash.com/photo-1494708001911-679f5d15a946?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-size: cover;
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  position: relative;
  padding: 2% 5%;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);


}


.sec-1 span {
  font-size: 3rem;
  color: hsl(79, 97%, 56%);
  font-family: aller-display, sans-serif;
  font-weight: 600;
}

.sec-1 .navbar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.sec-1 .navigation-menu {
  width: 60vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.sec-1 .navigation-menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-bottom: 0.1rem;
  font-weight: 600;
  position: relative;
  /* letter-spacing: 0.2rem; */
  transition: color 0.3s ease-in;

}

.sec-1 .navigation-menu a::first-letter{
  font-weight: 600;
  color: #b6fc20;
  font-size: 2.1rem;


}
.sec-1 .navigation-menu a:hover::first-letter{
  color: #0f0f0f;

}

.sec-1 .navigation-menu a.active::before{
  content: '';
  bottom: 0;
  height: 0.3rem;
  position: absolute;
  background-color: hsl(79, 97%, 56%);;
  left: 50%;
  border-radius: 1.5rem;
  transform: translateX(-50%);
 width: 1rem;
 opacity: 1;
}


.fa-times{
  color: #000000;
  text-shadow: 0.5rem 0.5rem 0.8rem #252525a9;
  
}
.fa-bars{
  color: #ffffff;
}
/* open and close button */

#open,#close{
    position: absolute;
    display: block;
    top: 1rem;
    right: 2.5rem;
    color: #ffffff;
    opacity: 0;
    z-index: 20;

}
header {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}


header div {
  position: relative;
  color: #fff;
  bottom: -5rem;
}



.sec-1 header h1 {
  font-size: 9rem;
}

.sec-1 header p {
  font-size: 3rem;
}

.sec-1 header button {
  margin-top: 1rem;
  font-size: 2rem;
  width: 15rem;
  font-weight: 400;
  background-color: #abee1c;
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  color: rgb(29, 29, 29);
  box-shadow: 0rem 0rem 1.5rem #aaff00bb;
  outline: none;
}

.sec-1 header button:active {
  box-shadow: 0rem 0rem 2.5rem #aaff00bb;
  transform: translate(2px ,-2px);
}

/* section-2 */
.section-2 {
  padding: 2% 5%;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.section-2 .my-services {
  width: 45vw;
  padding: 1rem;
}

.section-2 .my-services h2 {
  font-family: "Montserrat";
  color: #4a4a4a;
}

.section-2 .my-services h2,
.section-2 .my-services p,
.section-2 .my-services a {
  margin-top: 1rem;
  padding: 0.5rem;
}

.section-2 .my-services p {
  text-align: justify;
  line-height: 3rem;
  font-weight: 300;
  color: #6e6e6e;
}

.section-2 .left-side-btn {
  text-decoration: none;
  width: 15rem;
  height: 5rem;
  color: #fff;
  background-color: #a0d334;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in;
}

.section-2 .left-side-btn:hover {
  color: #fff;
  background-color: #000000;
  transition: background-color 0.2s ease-in;

}


.section-2 .service-card {
  padding: 0 3rem;
}

.section-2 .service-card .row_ {
  display: flex;
}

.section-2 .service-card .row_ p {
  width: 20vw;
  font-weight: 300;
  line-height: 3rem;
  margin-left: 5rem;
  color: #6e6e6e;
}

.section-2 .service-card .row_ .card {
  padding: 1rem 1.5rem;
  margin: 1.5rem;
  height: 25vh;
  box-shadow: 2px 2px 35px #7575751c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none !important;
}

.section-2 .service-card .row_ .card h3 {
  font-size: 2rem;
  font-family: "Montserrat";
  padding: 0 2rem;
  color: #4a4a4a;
}

.section-2 .service-card .row_ .card .feature {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  padding: 0.5rem 0;
}

/* section-3 ----------------------------------------- */

.section-3 {
  margin-top: 5rem;
  padding: 30rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  linear-gradient(#7a39dba5, #6048ff95),url("https://images.unsplash.com/photo-1543965170-d57f3f5ecf20?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2008&q=80");
  background-position: center;
  background-attachment: fixed;
  clip-path: polygon(0 17%, 100% 1%, 100% 83%, 0% 100%);
  position: relative;
}


.mystory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
}

.mystory h3 {
  font-size: 3rem;
  font-family: "Montserrat";
  margin-top: 2rem;
  padding: 0 2rem;
  color: #ffffff;
}

.mystory i {
  color: #a0d334;
}

/* section-4 */
.section-4 {
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.section-4 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  color: #4a4a4a;
}

.section-4 .content p {
  margin-top: 2rem;
  width: 40vw;
  text-align: center;
  font-weight: 300;
  line-height: 3rem;
}

.section-4 .skills {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills h6 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #4a4a4a;
}

/* section-5 */

.section-5 {
  padding: 10% 5%;
  clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
  background-color: #f1f1f2;
  /* margin-top: 15rem; */
  /* padding-top: 1.5rem;
  padding-bottom: 5rem; */
  position: relative;
  height: max-content;
  z-index: 10;
}


.section-5 .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-5 .content p {
  width: 70rem;
  margin: 2rem;
  text-align: center;
  font-weight: 300;
  color: #4a4a4a;
  line-height: 3rem;
}




.section-5 .nav-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5rem;

}
.section-5 .nav-gallery .gal-btn{
  display: none;
  padding: 1rem 1.5rem;
}
.section-5  .nav-gallery .content{
  display: flex;
  flex-direction: row;
}

.section-5 .nav-gallery button {
  text-decoration: none;
  text-transform: capitalize;
  margin: 0 2rem;
  color: #4a4a4a;
  font-weight: bold;
  font-size: 1.6rem;
}

.section-5  .nav-gallery .active {
  position: relative;
  color: #A0D334;
}

.section-5 .nav-gallery .active::before {
  content: '';
  width: 5rem;
  border-radius: 3rem;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: solid 0.4rem #a0d334;
}

 /* ------------------------------------ */
 #img-container{
  padding: 0.2% 2%;
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.671); */
}

#scroll{
  height: auto;
  width: 100%;
  overflow: auto;
  margin-top: 2.5rem;
}
#img-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transform:translate(0,0);
 
}


#img-container .cl{
  display: flex;
  flex-direction: column;
  height: 90vh;
  
}



#img-container img{
  object-fit: cover;
  width: 30rem;
  height: 25rem;
  margin: 0.3rem;
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.143);
  transform-origin: center center;
  position: relative;
}

.cl img:first-of-type
{
  flex-grow: 2;
} 
.cl-2{
  flex-direction: column-reverse !important;
}

#left-arrow,#right-arrow{
  display: none;

  
}




/* section-6 */
/* feedback from client section */
#feedback {
  margin-top: 10rem;
  padding: 5rem 5rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#feedback .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

#feedback .title h2 {
  font-size: 3rem;
  color: #4A4A4A;
  font-weight: bolder;
  margin-bottom: 2rem;
}

#feedback .title p {
  font-size: 1.8rem;
  color: #4A4A4A;
  font-weight: 300;
  width: 70rem;
  text-align: center;
  letter-spacing: 0.1rem;
  line-height: 3rem;
}

/* feed back cards */
.carousel-inner .container .card-items {
  width: 35rem;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 2rem rgba(172, 172, 172, 0.164);
  margin: 2rem;
}

.carousel-inner .container .card-items p {
  font-size: 1.4rem;
  color: #6E6E6E;
  text-align: justify;
}

.card-items .profile {
  display: inline-flex;
}

.card-items .profile .bottom {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.card-items .profile .bottom-title {
  color: #4A4A4A;
  margin: 0;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
}

.card-items .profile .sub-title {
  color: #6E6E6E;
  margin: 0;
  font-size: 14px;
  font-family: 'Roboto';

}

/* styling the slide */
#feedback .carousel {
  padding: 2% 5%;
  justify-content: center;
}

.carousel-inner {
  margin-bottom: 20px;
}

.carousel-indicators li {
  background-color: #A0D334;
}

/* section-7 */
.section-7 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  background: #FAFAFF;
}

.section-7 h1 {
  font-weight: bold;
  font-size: 3rem;
  color: #4A4A4A;
}

.section-7 a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  background-color: #A0D334;
  padding: 1.5rem 7rem;
}

.section-7 a:hover {
  color: #fff;
  background-color: rgb(0, 0, 0);
  transition: 0.5s ease;
}

/* section-8 */
.section-8 {
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: url('../images/Rectangle 115.svg');
  background-size: cover;
  position: relative;
}

.section-8 .row_ {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-8 .row_ .col_ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 5rem;
}

.section-8 .row_ .row1 {
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.section-8 .row_ .col_ h1 {
  color: #ade92b;
  font-size: 3rem;
  font-weight: 400;
}

.section-8 .row_ .col_ p {
  color: #fff;
  font-size: 1.8rem;
}

.services,
.support-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.col_ a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

.col_ h3 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
}


.follow-me a {
  padding-right: 2.5rem;

}

.section-8 .form-inline {
  background-color: #fff;
  width: 30rem;
  height: 5rem;
}

.section-8 .form-inline .inputtxt {
  border: none;
  width: 250px;
  padding: 10px;
  font-size: 2rem;
}
.section-8 .form-inline .inputtxt:placeholder-shown{
  font-size: 2rem;
}

.section-8 .form-inline .submit-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #A0D334;
  border: none;
  color: #fff;
}

.form-control {
  display: block;
  width: 100%;
  height: inherit;
  padding: 10px 10px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: inherit;
  border: none;
  border-radius: 0rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-inline:focus {
  box-shadow: 0 0 0 0.2rem rgba(238, 238, 238, 0.25);
}

.form-control :placeholder-shown {
  font-size: 3rem;
}

.contact {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
  padding: 5rem 0;
  border-top: solid #fff 0.1rem;

}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contact-info h6 {
  color: #fff;
  margin-left: 1rem;
}

.section-8 a:hover {
  color: #000000;
}

.fa-instagram:hover {
  color: #ff0055;
  transform: rotate(0.5deg);
}

.fa-facebook:hover {
  color: #00aeff;
  transform: rotate(0.5deg);
}

.fa-instagram:hover {
  color: #ff0055;
  transform: rotate(0.5deg);
}

.fa-instagram:hover {
  color: #ff0055;
  transform: rotate(0.5deg);
}

.fa-instagram:hover {
  color: #ff0055;
  transform: rotate(0.5deg);
}

#up{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee1c96;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  box-shadow: 0 0 1rem #ee1c96,0 0 2rem #ee1c96;
}
.fa-arrow-up{
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 0 0 0.2rem #fff;
  
}